<launch>
    <param name="/use_sim_time" value="true" />

    <arg name="rviz" default="true" />
    <arg name="namespace" default="vehicle0" />
    <arg name="robot_id" default="0" />
    <arg name="sensor_name" default="velodyne" />
    <arg name="config" default="$(find fast_lio)/config/velodyne16_simulation_robot1.yaml" />
    <arg name="loop_candidate_selector" default="true" />
    <arg name="loop_candidate_frame_id" default="map" />
    <arg name="loop_candidate_timing_log" default="true" />
    <arg name="loop_candidate_timing_log_path" default="$(optenv HOME /tmp)/.ros/loop_candidate_selector_$(arg namespace)_timing.csv" />

    <arg name="feature_extract_enable" default="false" />
    <arg name="point_filter_num" default="1" />
    <arg name="max_iteration" default="5" />
    <arg name="filter_size_surf" default="0.5" />
    <arg name="filter_size_map" default="0.5" />
    <arg name="cube_side_length" default="1000" />
    <arg name="runtime_pos_log_enable" default="false" />
    <arg name="dis_th" default="1.5" />

    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping_client$(arg robot_id)"
        output="screen">
        <rosparam command="load" file="$(arg config)" />
        <param name="NameSpace" type="string" value="$(arg namespace)" />
        <param name="feature_extract_enable" type="bool" value="$(arg feature_extract_enable)" />
        <param name="point_filter_num" type="int" value="$(arg point_filter_num)" />
        <param name="max_iteration" type="int" value="$(arg max_iteration)" />
        <param name="filter_size_surf" type="double" value="$(arg filter_size_surf)" />
        <param name="filter_size_map" type="double" value="$(arg filter_size_map)" />
        <param name="cube_side_length" type="double" value="$(arg cube_side_length)" />
        <param name="runtime_pos_log_enable" type="bool" value="$(arg runtime_pos_log_enable)" />
    </node>

    <node pkg="fast_lio" type="my_node" name="LIO_Publisher_client$(arg robot_id)" output="screen">
        <param name="RobotID" type="int" value="$(arg robot_id)" />
        <param name="NameSpace" type="string" value="$(arg namespace)" />
        <param name="SensorName" type="string" value="$(arg sensor_name)" />
        <param name="dis_th" type="double" value="$(arg dis_th)" />
    </node>

    <group if="$(arg loop_candidate_selector)" ns="$(arg namespace)">
        <include file="$(find fast_lio)/launch/loop_candidate_selector.launch">
            <arg name="robot_id" value="$(arg robot_id)" />
            <arg name="submap_topic" value="/$(arg namespace)/submap" />
            <arg name="state_estimation_topic" value="/$(arg namespace)/state_estimation" />
            <arg name="candidate_topic" value="/$(arg namespace)/loop_candidate" />
            <arg name="candidate_array_topic" value="/$(arg namespace)/loop_candidates" />
            <arg name="candidate_pose_topic" value="/$(arg namespace)/loop_candidate_poses" />
            <arg name="candidate_score_cloud_topic" value="/$(arg namespace)/loop_candidate_score_cloud" />
            <arg name="frame_id" value="$(arg loop_candidate_frame_id)" />
            <arg name="enable_timing_log" value="$(arg loop_candidate_timing_log)" />
            <arg name="timing_log_path" value="$(arg loop_candidate_timing_log_path)" />
        </include>
    </group>

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_$(arg namespace)"
            args="-d $(find fast_lio)/rviz_cfg/loam_livox_vehicle0.rviz" />
    </group>
</launch>
